<h1>Pilibaba Spider Home</h1>

<div style="margin-top: 60px;">
    <span class="col-md-6 col-md-offset-3">
    <input type="text" class="form-control" ng-model="searchString" placeholder='Search: e.g. "Kitchen Craft" or "www.mimocook.com"' ng-change="search(1)"/>
    </span>
</div>

<div class="clearfix"></div>
<dir-pagination-controls ng-if="results.data" class="pull-right" pagination-id="results_main" on-page-change="search(newPageNumber)"  direction-links="true" boundary-links="true" ></dir-pagination-controls>
<table id="list_of_products" class="table table-striped table-hover" style="margin-top: 60px;">
    <thead>
    <tr>
      <th style="min-width: 10px;">ID</th>
      <th style="min-width: 80px;">Name</th>
      <th style="min-width: 80px;">Brand
          <span id="brand" ng-click="setOrderProperty('brand')" class="glyphicon pull-right" ng-class="{ 'glyphicon-chevron-down': orderProperty != 'brand', 'glyphicon-chevron-up' : orderProperty == 'brand' }"></span>
      </th>
      <th style="min-width: 80px;">Category
          <span id="category" ng-click="setOrderProperty('category')" class="glyphicon pull-right" ng-class="{ 'glyphicon-chevron-down': orderProperty != 'category', 'glyphicon-chevron-up' : orderProperty == 'category' }"></span>
      </th>
      <th style="min-width: 90px;">oldprice
          <span id="oldprice" ng-click="setOrderProperty('oldprice')" class="glyphicon pull-right" ng-class="{ 'glyphicon-chevron-down': orderProperty != 'oldprice', 'glyphicon-chevron-up' : orderProperty == 'oldprice' }"></span>
      </th>
      <th style="min-width: 80px;">price
          <span id="price" ng-click="setOrderProperty('price')" class="glyphicon pull-right" ng-class="{ 'glyphicon-chevron-down': orderProperty != 'price', 'glyphicon-chevron-up' : orderProperty == 'price' }"></span>
      </th>
      <th style="min-width: 50px;">OFF</th>
      <th style="min-width: 150px;">createdTime
          <span id="createdTime" ng-click="setOrderProperty('createdTime')" class="glyphicon pull-right" ng-class="{ 'glyphicon-chevron-down': orderProperty != 'createdTime', 'glyphicon-chevron-up' : orderProperty == 'createdTime' }"></span>
      </th>
      <th style="min-width: 150px;">lastUpdatedTime
          <span id="lastUpdatedTime" ng-click="setOrderProperty('lastUpdatedTime')" class="glyphicon pull-right" ng-class="{ 'glyphicon-chevron-down': orderProperty != 'lastUpdatedTime', 'glyphicon-chevron-up' : orderProperty == 'lastUpdatedTime' }"></span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="result in results.data|orderBy:orderProperty|itemsPerPage:200" pagination-id="results_main" total-items="results.totalcount">
        <td><a href="#/products/{{result.id}}">{{ result.id }}</a></td>
        <td><a href="{{result.url}}" target="_blank">{{ result.name }}</a></td>
        <td>{{ result.brand }}</td>
        <td>{{ result.category }}</td>
        <td>{{ result.oldprice | isoCurrency:result.currency  }}</td>
        <td>{{ result.price | isoCurrency:result.currency  }}</td>
        <td><span ng-if="result.oldprice > 0" class="text-danger">{{ 100 * (result.oldprice - result.price) / result.oldprice | number:0  }}%</span></td>
        <td>{{ result.createdTime * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>{{ result.lastUpdatedTime * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}</td>
    </tr>
    </tbody>
</table>


<a href="#/newBeer" class="btn btn-small btn-primary">Insert New Product</a>
<a href="#/products" class="btn btn-small btn-primary">Full List</a>
