<h1>List of Products</h1>

<!-- <ul>
    <li ng-repeat="beer in beers">
        <a href="#/beers/{{beer.id}}">{{beer.name}}</a> by {{beer.producer}}
    </li>
</ul> -->

<div class="alert alert-success" ng-show="created">
    New Product "{{created}}" added to the list!
</div>

<div class="alert alert-warning" ng-show="deleted">
    Product removed
</div>
<dir-pagination-controls pagination-id="products_main" ng-model="products" class="pull-right" on-page-change="queryProducts(newPageNumber)"  direction-links="true" boundary-links="true" ></dir-pagination-controls>
<table class="table table-striped table-hover">
    <thead>
    <tr>
      <th style="min-width: 10px;">ID</th>
      <th style="min-width: 80px;">Name</th>
      <th style="min-width: 80px;">Brand
          <span id="brand" ng-click="setOrderProperty('brand')" class="glyphicon pull-right" ng-class="{ 'glyphicon-chevron-down': orderProperty != 'brand', 'glyphicon-chevron-up' : orderProperty == 'brand' }"></span>
      </th>
      <th style="min-width: 80px;">Category
          <span id="category" ng-click="setOrderProperty('category')" class="glyphicon pull-right" ng-class="{ 'glyphicon-chevron-down': orderProperty != 'category', 'glyphicon-chevron-up' : orderProperty == 'category' }"></span>
      </th>
      <th style="min-width: 90px;">oldprice
          <span id="oldprice" ng-click="setOrderProperty('oldprice')" class="glyphicon pull-right" ng-class="{ 'glyphicon-chevron-down': orderProperty != 'oldprice', 'glyphicon-chevron-up' : orderProperty == 'oldprice' }"></span>
      </th>
      <th style="min-width: 80px;">price
          <span id="price" ng-click="setOrderProperty('price')" class="glyphicon pull-right" ng-class="{ 'glyphicon-chevron-down': orderProperty != 'price', 'glyphicon-chevron-up' : orderProperty == 'price' }"></span>
      </th>
      <th style="min-width: 50px;">OFF</th>
      <th style="min-width: 150px;">createdTime
          <span id="createdTime" ng-click="setOrderProperty('createdTime')" class="glyphicon pull-right" ng-class="{ 'glyphicon-chevron-down': orderProperty != 'createdTime', 'glyphicon-chevron-up' : orderProperty == 'createdTime' }"></span>
      </th>
      <th style="min-width: 150px;">lastUpdatedTime
          <span id="lastUpdatedTime" ng-click="setOrderProperty('lastUpdatedTime')" class="glyphicon pull-right" ng-class="{ 'glyphicon-chevron-down': orderProperty != 'lastUpdatedTime', 'glyphicon-chevron-up' : orderProperty == 'lastUpdatedTime' }"></span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="product in products.data|orderBy:orderProperty|itemsPerPage:200" pagination-id="products_main" total-items="products.totalcount">
        <td><a href="#/products/{{product.id}}">{{ product.id }}</a></td>
        <td><a href="{{product.url}}" target="_blank">{{ product.name }}</a></td>
        <td>{{ product.brand }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.oldprice | isoCurrency:product.currency }}</td>
        <td>{{ product.price | isoCurrency:product.currency }}</td>
        <td><span ng-if="product.oldprice > 0" class="text-danger">{{ 100 * (product.oldprice - product.price) / product.oldprice | number:0  }}%</span></td>
        <td>{{ product.createdTime * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>{{ product.lastUpdatedTime * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <!-- <td><a ng-click="editBeer(beer.id)" class="btn btn-small btn-primary">Edit</a></td> -->
        <td><a ng-click="editProduct(product.id)" class="btn btn-small btn-info">Edit</a></td>
    </tr>
    </tbody>
</table>
<dir-pagination-controls pagination-id="products_main" ng-model="products" class="pull-right" on-page-change="queryProducts(newPageNumber)"  direction-links="true" boundary-links="true" ></dir-pagination-controls>
<a href="#/newProduct" class="btn btn-small btn-primary">Insert New Product</a>
